[Unit]
Description=Execute BorgBackup
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=oneshot

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no

LogRateLimitIntervalSec=0

ExecStart=systemd-inhibit --who="BorgBbackup" --why="Please let me complete the backup first." /usr/local/bin/push-backup.sh user@hostname:/repoitory-path /etc/borg/exclude-files.cfg
