[Unit]
Description=Execute BorgBackup
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=oneshot

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no

LogRateLimitIntervalSec=0

ExecStart=/usr/local/bin/push-backup.sh user@hostname:/repository-path -x /etc/borg/exclude-files.cfg /
